@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add any global styles below */
body {
  background-color: white;
}

body.dark {
  background-color: #111827;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem; /* Adjust this value based on your header height */
}